<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="SalvaUnaLengua Redirect" stopProcessing="true">
                    <match url="(.*)" />
                    <conditions logicalGrouping="MatchAll">
						<add input="{HTTP_HOST}" pattern="^salvaunalengua\.(com(\.mx)?|mx)$" />
                        <!--add input="{HTTP_HOST}" pattern="^salvaunalengua\.com\.mx$" />
                        <add input="{HTTP_HOST}" pattern="^salvaunalengua\.mx$" /-->
						<!--add input="{HTTP_HOST}" pattern="^salvaunalengua\.com$" negate="true" /-->
                    </conditions>
                    <!--action type="Redirect" url="http://salvaunalengua.com/{R:1}" /-->
					<action type="Redirect" url="http://palabrasvivas.mx/{R:1}" />
                </rule>
            </rules>
        </rewrite>
		<staticContent>
            <mimeMap fileExtension=".mf" mimeType="text/cache-manifest" />
     	</staticContent>
        <defaultDocument>
            <files>
                <clear />
                <add value="index.html" />
            </files>
        </defaultDocument>
        <security>
            <authorization>
                <add accessType="Allow" users="?" />
            </authorization>
        </security>
    </system.webServer>
    <system.web>
        <authorization>
            <allow users="?" />
        </authorization>
    </system.web>
</configuration>
